
h1 {
    color: rgb(40, 40, 233);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(221, 101, 90);
    text-align: center;
    background-color: darkorange;
}

h3 {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(90, 90, 221);
}

ul {
    text-align: center;
    font-size: large;
    color: blue;
    /* margin: 0;
    padding: 0; */
}

ol {
    text-align: center;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

